# Copia este archivo a .env y completa los valores reales
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=1234
DB_NAME=tienda_db
# DB_SYNC=true solo para desarrollo; en producción debe ser false
DB_SYNC=true

# JWT
JWT_SECRET=secreto_super_seguro
JWT_EXPIRES_IN=60m
